<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output</title>
    <style>
        h1{
            color: #f17f4e;
        }
        body{
            background-color: #dfdddb;
            margin: 35px 20px;
        }
        hr{
            border: 3px solid #aaa7a2
        }

        p{
            font-size: 20px;
            color:#36393f
        }
    </style>
</head>
<body>
    <h1>Here are some recently verified leads: </h1>
    {% for x in text %}
    <p>{{x}}</p>
    <br>
    <hr>
    <br>
    {% endfor %}
</body>
</html>